<!DOCTYPE html>
<html lang="nl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>"test"</title>
	<link rel="stylesheet" href=/style/info.css>
	<link rel="stylesheet" href=/style/main.css>
</head>

<body>
    <header>
        <!-- Hier heb ik gekozen voor het maken van een nav met daarin een ul met vervolgends li items voor het maken van het menu waar
		mensen uit kunnen kiezen.-->
        <nav class="navbar"> <!-- <a href= "https://www.youtube.com/watch?v=flItyHiDm7E"> link naar video die ik heb gebruikt als referentie </a>
		-->
            <div class="logo">
                <img src="/style/images/Untitled_Artwork 71.png" alt="Logo">
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/friends">My Friends</a>
                </li>

                <li>
                    <a href="/instellingenprofiel">My Profile</a>
                </li>

            </ul>

            <!-- Hier heb ik het hamburger menu mee gemaakt, drie streepjes boven elkaar. een "span" staat voor het aangeven van bepaalde 
			content en heb dus hiervoor de span gemaakt om het hamburger menu te worden-->

            <button>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>

    </header>
	<main>
	
		<div id="gameInfo">

			<img id="gameImage" src="" alt="Game Image">
			<ul>
				<h2 id="gameTitle">Game Title</h2>
				<li>Platforms: <p id="platforms"></p></li>
				<li>Genres: <p id="genres"></p></li>
				<li>Multiplayer:: <p id="multiplayer"></p></li>
				<li>Buy this game now!: <p id="buy"></p></li>
				<li>Description: <p id="description"></p></li>
			</ul>
		</div>



	</main>

	<footer>
		<div class="dropdown">
			<button onclick="toggleDropdown()" class="dropbtn">Filters</button>
			<div id="myDropdown" class="dropdown-content">
				<aside>
					<input type="radio" name="filter" value="all" id="filter-all" checked>
					<label for="filter-all">all</label>
		
					<input type="radio" name="filter" value="people" id="filter-people">
					<label for="filter-people">people</label>
		
					<input type="radio" name="filter" value="animals" id="filter-animals">
					<label for="filter-animals">animals</label>
		
					<input type="radio" name="filter" value="items" id="filter-items">
					<label for="filter-items">items</label>
		
					<br>
					<br>
					<br>
		
					<section>
						Toon in een:
						<input type="radio" name="view" value="list" id="view-list" checked>
						<label for="view-list">lijst</label>
						<input type="radio" name="view" value="list" id="view-grid">
						<label for="view-grid">grid</label>
		
					</section>

		
		
				</aside>
			</div>
		  </div>
		  
		  <ul>
			<% users.forEach(function(user) { %>
				<li>
					<a href="/profile/<%= user._id %>">
						<img src="/style/images/uploads/<%= user._id %>/<%= user.profilePic %>" alt="<%= user.username %>">
						<p><%= user.username %></p>
						<p><%= user.age %></p>
						<p><%= user.gender %></p>
					</a>
				</li>
			<% }); %>
		</ul>

		<button>Toon meer!</button>
		
	</footer>


	<script src="/script/api.js"></script>
	<script src="/script/homeApi.js" defer></script>]
	<script src="/script/hamburger.js" defer></script>

</body>

</html>