<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <main>       
        <h1 id="titelInstellingen"> De Titel de instelling pagina </h1>

    <div id="instellingenCSS">
        <h2 id="datainstellingen"> <%= user.username %> </h2>
        <input type="text" name="username" required>
        <button id="aanpassing"> pas aan </button>
    </div>

    <div id="instellingenCSS">
        <h2 id="datainstellingen"> <%= user.gender %> </h2>
        <input type="text" name="username" required>
        <button id="aanpassing"> pas aan </button>
    </div>

    <div id="instellingenCSS">
        <h2 id="datainstellingen"> <%= user.age %> </h2>
        <input type="text" name="username" required>
        <button id="aanpassing"> pas aan </button>
    </div>

    <div id="instellingenCSS">
        <h2 id="datainstellingen"> <%= user.language %> </h2>
        <input type="text" name="username" required>
        <button id="aanpassing"> pas aan </button>
    </div>

    <div id="instellingenCSS">
        <h2 id="datainstellingen"> <%= user.bio %> </h2>
        <input type="text" name="username" required>
        <button id="aanpassing"> pas aan </button>
    </div>

    <div id="instellingenCSS">
        <h2 id="datainstellingen"> <%= user.play_style %> </h2>
        <input type="text" name="username" required>
        <button id="aanpassing"> pas aan </button>
    </div>

    <div id="instellingenCSS">
        <h2 id="datainstellingen">  <%= user.console %> </h2>
        <input type="text" name="username" required>
        <button id="aanpassing"> pas aan </button>
    </div>

    <div id="instellingenCSS">
        <h2 id="datainstellingen"> <%= user.play_duration_hours %> </h2>
        <p> Ik ben Max, een 25-jarige gamer die leeft voor de spanning van de virtuele wereld. Mijn hart gaat sneller kloppen van actievolle games en ik ben altijd op zoek naar nieuwe uitdagingen. Of het nu gaat om het verslaan van tegenstanders in een first-person shooter of het verkennen van epische werelden, ik ben altijd klaar voor het volgende avontuur.</p>
        <input type="text" name="username" required>
        <button id="aanpassing"> pas aan </button>
    </div>

    <div id="instellingenCSS">
        <h2 id="datainstellingen"> Favoriete games </h2>
        <ul>
            <li> <%= user.favorite_games %> </li>
            <li> <%= user.favorite_games %> </li>
            <li> <%= user.favorite_games %> </li>
        </ul>
        <button id="aanpassing"> pas aan </button>
    </div>
    </main>

    <script>
        document.getElementById('aanpassing').addEventListener('click', async () => {
          const nieuweLeeftijd = document.querySelector('input[name="age"]').value;
        
          try {
            // Stuur een AJAX-verzoek naar de server om de leeftijd bij te werken
            const response = await fetch('/updateProfileSettings', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ age: nieuweLeeftijd })
            });
        
            if (response.ok) {
              console.log('Leeftijd succesvol bijgewerkt');
              // Redirect to settings profile page or show a success message
            } else {
              console.error('Er is een fout opgetreden bij het bijwerken van de leeftijd');
              // Handle error appropriately
            }
          } catch (error) {
            console.error('Er is een fout opgetreden:', error);
          }
        });
        </script>
        
</body>
</html>