<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="\style\style.css">
    <link href="https://fonts.cdnfonts.com/css/techno-race" rel="stylesheet">
    <script src="popup.js"></script>
</head>
<body>
    <h1><%= user.username %></h1>
    <% if (user) { %>
        <div>
          <p>Age: <%= user.age %></p>
          <p>Language: <%= user.language %></p>
          <p>Console: <%= user.console %></p>
          <p>Console Link: <%= user.ConsoleLink %></p>
          <p>PlayStyle: <%= user.playstyle %></p>
          <p>Bio: <%= user.bio %></p>
          <p>Favorite Genres: <%= user.FavoriteGenres %></p>
          <p>Gender: <%= user.gender %></p>
          <p>Favorite Games: <%= user.FavoriteGames %></p>
        </div>


        <form action="/addfriend/<%= user._id %>" method="POST">
          <button type="submit">Add friend</button>
        </form>

      <% } else { %>
        <p>No user data available</p>
      <% } %>
          
</body>
</html>