<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="\style\info.css">
    <link href="https://fonts.cdnfonts.com/css/techno-race" rel="stylesheet">
    <script src="popup.js"></script>
    <link rel="stylesheet" href=/style/main.css>
    <link rel="stylesheet" href=/style/info.css>
</head>
<body>
  <header>
    <!-- Hier heb ik gekozen voor het maken van een nav met daarin een ul met vervolgends li items voor het maken van het menu waar
mensen uit kunnen kiezen.-->
    <nav class="navbar"> <!-- <a href= "https://www.youtube.com/watch?v=flItyHiDm7E"> link naar video die ik heb gebruikt als referentie </a>
-->
        <div class="logo">
            <img src="/style/images/Untitled_Artwork 71.png" alt="Logo">
        </div>
        <ul class="nav-links">
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/friends">My Friends</a>
            </li>

            <li>
                <a href="/instellingenprofiel">My Profile</a>
            </li>

            <li>
                <a href="/friendrequests">My Profile</a>
            </li>

        </ul>

        <!-- Hier heb ik het hamburger menu mee gemaakt, drie streepjes boven elkaar. een "span" staat voor het aangeven van bepaalde 
  content en heb dus hiervoor de span gemaakt om het hamburger menu te worden-->

        <button>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>

</header>
<main>
  <h1><%= user.username %></h1>
  <% if (user) { %>
      <div>
        <img src="/style/images/uploads/<%= user._id %>/<%= user.profilePic %>" alt="Profielfoto">
        <p>Age: <%= user.age %></p>
        <p>Language: <%= user.language %></p>
        <p>Console: <%= user.console %></p>
        <p>Console Link: <%= user.consoleLink %></p>
        <p>PlayStyle: <%= user.playstyle %></p>
        <p>Bio: <%= user.bio %></p>
        <p>Console Link: <a href="<%= user.consoleLink %>"><%= user.consoleLink %></a></p>
        <p>Gender: <%= user.gender %></p>
        <p>Favorite Games:</p>
        <ul>
            <% user.favoriteGames.forEach(function(game) { %>
                <li>
                    <p><%= game %></p>
                </li>
                <% }); %>
        </ul>
      </div>

      <form action="/addfriend/<%= user._id %>" method="POST">
        <button type="submit" class="add-friend">Voeg toe als vriend</button>
      </form>

    <% } else { %>
      <p>No user data available</p>
    <% } %>
</main>
<script src="/script/hamburger.js"></script>

</body>
</html>