<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend requests</title>

    <link rel="stylesheet" href="\style\style.css">
    <link href="https://fonts.cdnfonts.com/css/techno-race" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <h1>Vriendschapsverzoeken</h1>
    <ul id="vrienden">
        <% friendshipRequests.forEach(requests => { %> 
        <li>
             <a href="/profile/<%= friend._id %>">
                <img src="/style/images/uploads/<%= friend._id %>/<%= friend.profilePic %>" alt="Profielfoto">
                <span><%= friend.username %></span>
            </a>
                <form action="/<%= user._id %>" method="POST">
                    <button type="submit">Accept friend</button>
                </form>
            </li>
        <% }) %>
    </ul>
   
</body>
</html>