<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friend Requests</title>
  <!-- Add your CSS and other imports here -->
  <link rel="stylesheet" href="/style/style.css">
  <link href="https://fonts.cdnfonts.com/css/techno-race" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="/style/images/Untitled_Artwork 71.png" alt="Logo">
      </div>
      <ul class="nav-links">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">My Friends</a>
        </li>
        <li>
          <a href="#">My Profile</a>
        </li>
      </ul>
      <button>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
  </header>
  <h1>Vriendschapsverzoeken</h1>
  <ul id="vrienden">
    <% if (friendRequests && friendRequests.length > 0) { %>
      <% friendRequests.forEach(request => { %>
        <li>
          <a href="/profile/<%= request %>">
            <img src="/style/images/uploads/<%= request %>/<%= request.profilePic %>" alt="Profielfoto">
            <span><%= request.username %></span>
          </a>
          <form action="/accept-friend-request/<%= request %>" method="POST">
            <button type="submit">Accepteren</button>
          </form>
          <p>Request ID: <%= request %></p>
        </li>
      <% }) %>
    <% } else { %>
      <p>Er zijn geen vriendschapsverzoeken</p>
    <% } %>
  </ul>
</body>
</html>
